$bodyBackground: #121314;
$sectionBackground: #222326;
$linkColor: #d5d6da;
$defaultColor: #fafbff;
$separatorCleanColor: #3e3e40;
$separatorDarkColor: #000;
$scColor: #f50;
$transitionValue: all 0.5s ease;
$transitionFastValue: all 0.25s ease;
$transitionInstantValue: all 0.1s ease-out;

$topFrameHeight: 35px;
$baseFontSize : 14px;