.topFrame {
  background: $bodyBackground;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $topFrameHeight;
  border-top: 2px solid $scColor;
  border-bottom: 1px solid $separatorDarkColor;
  box-shadow: 0 0 7px 0 #000;
  z-index: 100;
  -webkit-app-region: drag;
}

.windowAction {
  overflow: hidden;
  margin-top: 2px;
  -webkit-app-region: no-drag;
}

.windowAction--left {
    float:left;
    margin-left: 8px;
}

.windowAction--right {
    float:right;
    margin-right: 8px;
}

.windowAction_item {
  float: left;
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
  letter-spacing: 0;

  &:hover .fa {
    color: $defaultColor;
  }

  & .fa {
    cursor: pointer;
    color: $linkColor;
  }
}

.topbarSearch {
  position: absolute;
  right: 50px;
  -webkit-app-region: no-drag;
}

@media (max-width: 940px) {
  .topbarSearch {
    width: 25%;
  }
}

@media (min-width: 940px) {
  .topbarSearch {
    width: 35%;
  }
}
